.div_gallery{
    height: 186px;
    width: 186px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center
    }

.img_flex{
    width: 156px; height: 156px;
   }
.instagram{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF8126}
.p_instagram{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-bottom: 40px}
.arrows{
    display: flex;
    align-items: center;}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}