.central_container{
    max-width: 1170px; margin: auto;
}
.d_flex{
    display: flex
}
.bakery_quality h3{
    font-family: 'Cormorant'; font-style: normal; font-weight: bold; font-size: 40px; line-height: 48px; text-align: center; margin-bottom: 40px;
}
.bakery_quality{
    padding: 80px 0;
}
.bakery_quality div div{
    justify-content: space-between;
}

.bakery_quality p strong{
    font-family: 'Cormorant'; font-style: normal; font-weight: bold; font-size: 25px; line-height: 30px;
}
.bakery_quality p:nth-child(2){
    margin-bottom: 10px;
}
.bakery_quality p:last-child{
    font-family: 'Poppins'; font-style: normal; font-weight: normal; font-size: 16px; line-height: 24px;
}
.bakery_quality .d_flex div{
    max-width: 210px;
}
.bakery_quality span{
    color: #FF8126
}
@media only screen and (max-width: 1024px) {
    .bakery_quality div div{
        flex-wrap: wrap;
    }
    .bakery_quality div div:last-child{

    }
}
@media only screen and (max-width: 992px) {
    .bakery_quality div div{
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 375px) {
    .bakery_quality div div{
        margin: auto; padding-bottom: 20px;
    }
}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}